h3 {
    font-size: 1.2em;
}

b {
    font-weight: bold;
}

#mapContainer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    margin: 1em 0;
    flex-wrap: wrap;
}

#map {
    display: block;
    width: 100%;
    height: 600px;
    border-radius: 16px;
    margin-bottom: 2em;
    z-index: 0;
}

#mapFilter {
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    border-radius: 16px;
    position: relative;
}

#mapFilter h3:first-child {
    margin-top: 0;
}


/* Marker cluster customisation */

.leaflet-div-icon {
    padding: 0;
    border: none;
    border-radius: 30px;
    width: 35px !important;
    height: 35px !important;
}

.leaflet-div-icon b {
    font-size: 1.2em;
    display: block;
    width: 100%;
    height: 100%;
    text-align: center;
    border-radius: 50%;
    padding-top: 7px;
}


/* Info box */

.leaflet-popup {
    margin-bottom: 30px;
}

.leaflet-popup-tip {
    width: 0;
    height: 0;
    border: none;
}

#map .leaflet-popup-content {
    margin: 13px 24px 24px 20px;
}

.leaflet-popup-content h4 {
    font-size: 1.8em;
    text-transform: uppercase;
    margin-bottom: 1em;
}

.leaflet-popup-content h4::after {
    content: '';
    display: block;
    position: relative;
    top: 10px;
    width: 25%;
    height: 2px;
    background-color: #000;
}

.leaflet-popup-content h5 {
    font-size: 1.2em;
    text-transform: uppercase;
    margin-bottom: 0.5em
}

.leaflet-popup-content address,
.leaflet-popup-content p {
    font-size: 1.2rem;
    margin: 0;
}


/* .leaflet-popup-content address {
    text-transform: capitalize;
} */

.leaflet-popup-content p:last-of-type {
    font-size: 1.2em;
    margin: 0 0 1em 0;
}

.leaflet-popup-content button,
.leaflet-popup-content a {
    margin: 1em 0.5em;
    padding: 0.5em 1em;
    background-color: #FDCF77;
    color: #000;
    border-radius: 50px;
    text-decoration: none;
}

.leaflet-popup-content button:hover,
.leaflet-popup-content a:hover {
    background-color: #ffbd70;
}

.refonte2021 .leaflet-popup-content .extLink:after {
    content: url(/ui/skins/MEDIA/refonte-pad/img/link.svg);
    padding-right: 0.5em;
    position: relative;
    top: 2px;
    left: 8px;
}

.refonte2021 .leaflet-popup-content .services {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 0.5em;
}
.refonte2021 .leaflet-popup-content .services img {
    width: 30px;
    margin-right: 0.5em;
}
.refonte2021 .leaflet-popup-content .services * {
    align-self: center;
    margin-bottom: 0;
}
.refonte2021 .leaflet-popup-content .services p {
    font-weight: 700;
}
.refonte2021 .leaflet-popup-content .services.noabo p,
.refonte2021 .leaflet-popup-content .services.noproj p {
    color: #b1b1b1;
}



/* Filters */

#typeSelection {
    margin: 0.4em 0;
}

#typeSelection .container {
    width: 100%;
    padding: 0.5em 0 0 0;
    border-radius: 25px;
    position: relative;
    box-sizing: border-box;
}

#typeSelection input[type='radio'] {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    margin: 0;
    width: 30px;
    height: 30px;
    position: relative;
    z-index: 2;
}

#typeSelection label {
    padding-left: 10px;
    position: relative;
    bottom: 10px;
    position: relative;
    z-index: 2;
}

#typeSelection .checkBackground {
    position: absolute;
    display: none;
}

#typeSelection input:checked+.checkBackground {
    display: block;
    width: 200px;
    height: 30px;
    top: 0;
    border-radius: 25px;
    z-index: 1;
}

.dom-container {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: fit-content;
    z-index: 1000;
    position: absolute;
    bottom: 15px;
    left: 15px;
    flex-direction: column;
}

.dom-container h3 {
    width: 100%;
}

.dom-container button {
    margin: 0 0.5em 1em 0;
    width: 70px;
    border-radius: 8px;
    overflow: hidden;
    background-color: #fff;
    outline: 1px solid #fff;

}

.dom-container p {
    font-weight: bold;
    margin-top: 2px !important;
    margin-bottom: 5px;
    font-size: 0.8em;
    text-align: center;
    width: 70px;
}

.dom-container img {
    width: 70px;
    margin: auto;
    display: block;
    border: 1px solid #fff;
}

#filter-results {
    position: relative;
}

.gradient-elt {
    width: 100%;
    height: 20px;
    z-index: 1;
    position: absolute;
}

.gradient-elt.top {
    background: linear-gradient(180deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    top: -1px;
}

.gradient-elt.bottom {
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
    bottom: -1px;
}

#searchResults::after {
    content: "";
    flex: auto;
}

#searchResults .values {
    width: 100%;
}

#searchResults.leaflet-popup-content {
    max-height: 600px;
    overflow: hidden;
    margin: 0;
    height: 54%;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    position: relative;
    padding-top: 1em;
}

.leaflet-popup-content .btn-text:hover,
.leaflet-popup-content .btn-text {
    padding: 0;
    margin: 0.5em 0;
    display: block;
    background: none;
    border-radius: unset;
    text-decoration: underline;
    font-size: 1.2em;
}

.leaflet-popup-content .btn-text:hover {
    color: #001B3B;
}

#searchResults .values {
    padding: 0.5em 1em 1.5em 1em;
    border-radius: 16px;
    border: 1px solid #1a1a1a;
    margin: 0 0 1em 0;
    width: 100%;
    box-sizing: border-box;
}

#searchResults.leaflet-popup-content h4 {
    font-size: 1.1em;
}

#searchResults.leaflet-popup-content p,
#searchResults.leaflet-popup-content h5 {
    font-size: 1em;
}

.refonte2021 form.search-bar {
    display: flex;
    flex-wrap: wrap;
}

.refonte2021 form.search-bar input:not(.btn),
.search-bar input {
    border-radius: 25px;
    padding: 5px 10px;
    width: 100%;
    box-sizing: border-box;
    background-color: #f5f5f5;
}

.refonte2021 form.search-bar .btn {
    max-width: 48%;
    margin: 0 1%;
}

#search {
    width: fit-content;
}

#result-msg {
    font-size: 1em;
    width: 100%;
    margin-top: 0;
}

#result-msg span {
    font-weight: bold;
    font-size: 1.2em;
}
.refonte2021 #mapFilter .btn-reseaux{
    background-color: #22999F !important;
    color: #fff !important;
    margin-bottom: 0.5em;
}
.refonte2021 #mapFilter .btn-reseaux:hover{
    background-color: #19767B !important;
}

/* Tableau accessibilite */

#access-modal {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 1001;
    background-color: rgba(0, 0, 0, 0.6);
}

#access-modal table {
    background-color: #fff;
    width: 90%;
    height: 75vh;
    overflow-y: scroll;
    display: block;
    margin: 8% 5%;
    border-radius: 16px;
}

#access-modal caption {
    font-size: 1.2em;
    font-weight: bold;
    padding: 0.5em;
}

#access-modal th {
    background-color: transparent;
}

#access-modal td {
    width: calc(100%/6);
}

#access-modal .close {
    position: fixed;
    bottom: 50px;
    right: 5%;
    opacity: 1;
}

@media screen and (min-width: 768px) {
    #searchResults .values {
        width: 48%;
        margin: 1%;
    }
}

@media screen and (min-width: 1024px) {
    #mapContainer {
        flex-direction: row;
    }
    #map {
        width: 65%;
        height: 600px;
    }
    #mapFilter {
        width: 32%;
    }
    #searchResults .values {
        width: 30%;
        margin: 1.5%;
    }
}